.sun {
    width: 80%;
    max-width: 300px;
    overflow: overlay;
    margin-bottom: 100px;
}

.sun * {
    transition: 1s;
}

.sun .light-beams > * {
    fill: #6be86b;
    animation: shine-move 2s infinite;
}

.sun .cheeks > * {
    fill: #F27281;
}

.sun .shine {
    fill: #F7D88B;
    transform-origin: 50% 50%;
    animation: spin 15s linear infinite;
}

.sun .eyes > *, .sun .mouth {
    fill: #464D59;
}

@keyframes shine-move {
  0%    { transform: translate(0px, 0px); }
  50%   { transform: translate(-10px, 5px); }
  100%  { transform: translate(0px, 0px); }
}

@keyframes spin {
    from    { transform: rotate(0deg); }
    to      { transform: rotate(360deg); }
}

